/* Styles for the Modal component */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50%;
    max-width: 600px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    /* Styles for the content inside the Modal */
    div {
        width: 100%;

        /* Styles for the editing mode */
        >div:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                width: 100%;
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }

            input,
            select {
                width: 100%;
                padding: 0.5rem;
                margin-bottom: 1rem;
                border: 0.1rem solid #ccc;
                border-radius: 0.5rem;
                outline: none;
                transition: border-color 0.5s ease-in-out;

                &:focus {
                    border-color: #2981da;
                }
            }

            button {
                width: 100%;
                background-color: #2981da;
                color: white;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: background-color 0.4s ease-in-out;

                &:hover {
                    background-color: #45a049;
                }
            }

            >div {
                display: flex;
                justify-content: space-between;
                width: 100%;

                button {
                    width: 48%;

                    &:last-child {
                        background-color: #ccc;
                        color: #333;

                        &:hover {
                            background-color: #bbb;
                        }
                    }
                }
            }
        }

        /* Styles for the non-editing mode */
        >div:last-child {
            text-align: center;

            h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                margin-bottom: 0.5rem;

                &:last-child {
                    margin-bottom: 1rem;
                }
            }



            button {
                background-color: #2981da;
                color: white;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: background-color 0.4s ease-in-out;

                &:hover {
                    background-color: #45a049;
                }

                &:nth-child(2) {
                    margin-left: 1rem;
                    background-color: #ff4d4f;

                    &:hover {
                        background-color: #e53935;
                    }
                }

                &:nth-child(3) {
                    background-color: #ccc;
                    color: #333;

                    &:hover {
                        background-color: #bbb;
                    }
                }
            }
        }
    }

    &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
}